@tailwind base;
@tailwind components;
@tailwind utilities;

.particle {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
  animation-name: flyUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes flyUp {
  0% {
    transform: translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-35vh);
    opacity: 0;
  }
}
