@tailwind base;
@tailwind components;
@tailwind utilities;

.particle {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
  animation-name: flyUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes flyUp {
  0% {
    transform: translateY(10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-35vh);
    opacity: 0;
  }
}

.animated-background {
  background: repeating-linear-gradient(
    55deg,
    #ffffff05,
    #ffffff05 20px,
    #111827 20px,
    #111827 40px
  );
  background-size: 150% 100%;
  animation: scroll-background 40s linear infinite;
}

@media (max-width: 768px) {
  .animated-background {
    background-size: 200% 100%;
    animation: scroll-background 30s linear infinite;
  }
}

@keyframes scroll-background {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes sway {
  0%,
  100% {
    transform: translateX(-5px) rotate(-3deg);
  }
  50% {
    transform: translateX(5px) rotate(3deg);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}

.sway {
  animation: sway 6s ease-in-out infinite;
}
